.hero-main{
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    border: 0;
    padding-bottom: 60px;
}

.hero-container{
    margin-left: 180px;
    margin-right: 180px;
    padding: 0;
}
.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
}
.heromain{
    margin:0;
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-image{
    height: 300px;
    aspect-ratio: 16/9;
    width: auto;
    flex-shrink: 0;
    padding-top: 0;
}
.heropara{
    margin: 0;
    padding-bottom: 16px;
    font-size: 16px;
    color: #E5E7EB;
}
.hero-button{
    width: 100px;
    background-color: #3882F6;
    border: 0;
    border-radius: 6px;
    padding: 6px;
    font-weight: 600;
    color: white;
}
.header{
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.right-links{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    flex: 1;
    gap: 16px;
}

.body-list{
    display: flex;
    list-style-type:none;
    padding: 24px;
    margin: 0;
    flex: 1;
    justify-content: center;
    gap: 70px;
    margin-bottom: 120px;
}
.center-imgs{
    height:200px;
    width:200px;
    flex: 0;
    border-radius: 10px;
}
.mid-text{
    margin: 0;
    padding-left: 0;
    font-size: 16px;
    width: 200px;
    text-align: center;
}
.body-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.body-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.main-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quote-container{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 32px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    margin-left: 30%;
    margin-right: 30%;
    color: #1F2937;
}
.thor{
    text-align: end;
    margin-right: 35%;
    padding: 0;
    color: #1F2937;
}

.ad-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}
.advertisement{
    background-color: #3882F6;
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 60px;
}
.ad-text{
    margin-left: 120px;
    padding: 24px;
}
.ad-para{
    margin: 0;
}
.ad-head{
    margin: 0;
    font-size: 20px;
    font-weight: 900;
}
.ad-button{
    height: 36px;
    width: 128px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    font-weight: 200;
    margin-right: 120px;
    border-style: solid;
    border-width: 3px;
}
.footer{
    background-color: #1F2937;
    padding: 24px;
    text-align: center;
}